.show-content {
  position: relative;
  margin: 100px auto;
  width: 80%;
  max-width: 1200px;
  color: #fff;
}
.show-content > .title-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.show-content > .title-container > .title {
  font-size: 4rem;
  margin-bottom: 30px;
}

.show-content > p {
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}

.show-content > .description {
  font-size: 1.2rem;
  margin-top: 30px;
}

.show-content > .meta-data > span {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .show-content {
    text-align: center;
  }
  .show-content > .title-container {
    /* height: 170px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .show-content > .title-container > .title {
    margin-top: 15px;
    font-size: 3rem;
  }
}
@media screen and (max-width: 415px) {
  .show-content > .title-container > .title {
    font-size: 2rem;
  }
  .show-content > .description {
    font-size: 1rem;
  }
}
