.cover-image {
  width: 100%;
  height: 400px;
  position: relative;
  box-shadow: 0px 5px 20px 20px #000000b0;
}
.main-swiper,
.swiper-image {
  z-index: 0;
  height: 100%;
}

.cover-image img,
.show-image > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cover-image > .img-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #00000000 0%, #000000be 100%);
  pointer-events: none;
}

.show-image {
  z-index: 2;
  position: absolute;
  bottom: -70px;
  left: 100px;
  margin-right: 50px;
  max-width: 250px;
}

.show-image > img {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0px 10px 20px 8px #000000b0;
}

@media screen and (max-width: 768px) {
  .show-image {
    left: 50%;
    min-width: 200px;
    max-width: 250px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
