.main-swiper {
  box-shadow: 0px 5px 20px 20px #000000b0;
}
.show-box {
  width: 100%;
  height: 47vw;
  position: relative;
  box-shadow: 0px 5px 20px 10px #000000b0;
}

.show-box .image-holder {
  width: 100%;
  height: 100%;
}
.show-box .image-holder .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #00000000 0%, #000000be 100%);
}
.show-box .image-holder > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.show-box .show-info {
  color: #ffffffdf;
  position: absolute;
  bottom: 0px;
  margin: 50px;
}

.show-box .show-info > .show-name {
  font-size: 4.7rem;
  margin-bottom: 20px;
  max-width: 750px;
}
.show-box .show-info > .show-meta {
  font-size: 1rem;
  color: #dedede;
  margin: 0;
}
.show-box .show-info > .show-summary {
  width: 100%;
  max-width: 450px;
}

.show-box .show-info > .show-details {
  display: block;
  letter-spacing: 1.6px;
  font-size: 1.3rem;
  border: none;
  padding: 10px;
  width: 250px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.show-box .show-info > .show-details > svg {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transition: right 200ms ease-in-out;
  -webkit-transition: right 200ms ease-in-out;
  -moz-transition: right 200ms ease-in-out;
  -ms-transition: right 200ms ease-in-out;
  -o-transition: right 200ms ease-in-out;
}

.show-box .show-info > .show-details:hover > svg {
  right: 15px;
}

@media screen and (max-width: 1100px) {
  .show-box {
    height: 65vw;
    min-height: 400px;
  }
  .show-box .show-info > .show-name {
    font-size: 3.4rem;
  }
}
@media screen and (max-width: 800px) {
  .show-box .show-info {
    margin: 20px;
  }
  .show-box .show-info > .show-name {
    font-size: 3.4rem;
  }
  .show-box .show-info > .show-details {
    width: 200px;
  }
}

@media screen and (max-width: 550px) {
  .show-box {
    /* height: 60vw; */
    min-height: 300px;
  }
  .show-box .show-info {
    margin-bottom: 30px;
  }
  .show-box .show-info > .show-meta {
    font-size: 0.7rem;
  }
  .show-box .show-info > .show-name {
    font-size: 2rem;
  }
  .show-box .show-info > .show-details {
    width: 180px;
    height: 40px;
    font-size: 1rem;
  }
}

.show-details:hover svg {
  transform: translateX(4px);
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
}

.show-details svg {
  transition: 0.2s;
  width: 15px;
  transition-delay: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.show-details {
  position: relative;
  width: 250px;
  padding: 15px 25px;
  border: unset;
  color: #141414;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms;
}

.show-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #141414;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}

.show-details:hover,
.show-details:hover svg {
  color: #e8e8e8;
}

.show-details:hover::before {
  width: 100%;
}
