s.cast-container {
  width: 100%;
}

.cast-container > h3 {
  color: #fff;
}
.cast-container .cast-cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.cast-container .cast-cards-wrapper .cast-card {
  text-align: center;
  margin-bottom: 100px;
  width: 200px;
  height: 300px;
  color: #fff;
}

@media screen and (max-width: 365px) {
  .cast-container .cast-cards-wrapper .cast-card {
    text-align: center;
    margin-bottom: 30px;
    width: 160px;
    height: 300px;
    color: #fff;
  }
  .cast-container .cast-cards-wrapper .cast-card > h4 {
    font-size: 1.3rem;
  }
  .cast-container .cast-cards-wrapper .cast-card > p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 285px) {
  .cast-container .cast-cards-wrapper .cast-card {
    text-align: center;
    margin-bottom: 30px;
    width: 120px;
    height: 300px;
    color: #fff;
  }
  .cast-container .cast-cards-wrapper .cast-card > h4 {
    font-size: 1.3rem;
  }
  .cast-container .cast-cards-wrapper .cast-card > p {
    font-size: 0.8rem;
  }
}

.cast-container .cast-cards-wrapper .cast-card .person-image {
  width: 100%;
  margin: auto;
  border: 5px solid #373b3e;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 9/13;
  margin-bottom: 10px;
}
.cast-container .cast-cards-wrapper .cast-card .person-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
